:root {
  --primary: #64B6AC;
  --secondary: #DAFFEF;
  --text: #5D737E;
  --light: #FCFFFD;
  --dark: #5D737E;
}

body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchBar {
  color: var(--dark)
}