:root {
  --primary: #3A3E3B;
  --secondary: #291528;
  --text: #F0EFF4;
  --dark: #000000;
}

body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchBar {
  color: var(--dark)
}